@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carousel.css");
@import url(styles/topics.css);


/* reset */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* variáveis */
:root
{
    --primary-background: #c4c4c4;    
    --secondary-background: #ffffff;
    --gradient-color: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --title-color: #002F52;
    --text-color: #000000;
    --accent-color: #eb9b00;
    --font-family: "Poppins", sans-serif;
}

body 
{
    background-color: var(--secondary-background);
    font-family: var(--font-family);
    
}

.button
{
    background-color: var(--accent-color);
    padding: 1em;
    text-align: center;
    font-weight: bold;
    color: var(--secondary-background);
}



