/* Menu de ícones (icon menu) */
.menu__left-burguer
{
    width: 24px;
    height: 24px;
    background-image: url("../images/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--secondary-background);    
}

.menu__left
{
    display: flex;
    align-items: center;
}

.icon
{
    padding: 1em;
}

.menu__left-list
{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.menu__left-checkbox:checked~.menu__left-list
{
    display: block;
}

/* Menu de categorias (category menu) */
.menu__left-list-title,
.menu__left-list-item
{
    padding: 1em;
    background-color: var(--secondary-background);
}

.menu__left-list-title
{
    color: var(--accent-color);
    font-weight: bold;
}
   
.menu__left-list-link
{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    
}

